@model Filmss
<div class="col-12">
    <div class="card shadow-sm p-3 text-center">
        <!-- Görsel -->
        <img src="@Model.Image"
             class="img-fluid mx-auto"
             style="width: 200px; height: 300px; object-fit: contain; background-color: #000;" 
             alt="Movie Poster">

        <!-- Başlık -->
        <h5 class="mt-3">@Model.Title</h5>

        <!-- Açıklama alanı -->
        <p class="text-muted">@Model.Details</p>
        <div>
            @if(Model.Tags !=null)
            {
                @foreach (var tag in @Model.Tags)
                {
                    <span class="badge bg-primary">@tag</span>
                }
            }
        </div>
    </div>
</div>